<nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light" style="background: #eef1f3;border: 1px solid #ededed;">
        <div class="logo" routerLink='/index'>
            <img src="assets/wm.png" />
            仓库管理系统
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline">
            <li nz-submenu nzTitle="出入库管理" nzIcon="swap">
                <ul style="background: #eef1f3;">
                    <li nz-menu-item routerLink='index/records/inbound' *ngIf="this.userRole === '仓库运维'">
                        <span nz-icon nzType="swap-left"></span>
                        <span>入库</span>
                    </li>
                    <li nz-menu-item routerLink='index/records/outbound' *ngIf="this.userRole === '仓库运维'">
                        <span nz-icon nzType="swap-right"></span>
                        <span>出库</span>
                    </li>
                    <li nz-menu-item routerLink='/index/records/allbound'>
                        <span nz-icon nzType="unordered-list"></span>
                        <span>出入库信息</span>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="计划管理" nzIcon="carry-out">
                <ul style="background: #eef1f3;">
                    <li nz-menu-item routerLink='index/plan/in' *ngIf="this.userRole === '管理员'">
                        <span nz-icon nzType="login"></span>
                        <span>新增入库计划</span>
                    </li>
                    <li nz-menu-item routerLink='/index/plan/out' *ngIf="this.userRole === '管理员'">
                        <span nz-icon nzType="logout"></span>
                        <span>新增出库计划</span>
                    </li>
                    <li nz-menu-item routerLink='/index/plan/finish' *ngIf="this.userRole === '仓库运维'">
                        <span nz-icon nzType="check"></span>
                        <span>完成计划</span>
                    </li>
                    <li nz-menu-item routerLink='/index/plan/all'>
                        <span nz-icon nzType="ordered-list"></span>
                        <span>全部计划</span>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="货物管理" nzIcon="code-sandbox">
                <ul style="background: #eef1f3;">
                    <li nz-menu-item routerLink='index/goods/all'>
                        <span nz-icon nzType="profile"></span>
                        <span>货物信息</span>
                    </li>
                    <li nz-menu-item routerLink='/index/goods/new'>
                        <span nz-icon nzType="plus"></span>
                        <span>新建货物</span>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="用户管理" nzIcon="user" *ngIf="this.userRole === '管理员'">
                <ul style="background: #eef1f3;">
                    <li nz-menu-item routerLink='index/root/allUsers'>
                        <span nz-icon nzType="team"></span>
                        <span>用户信息</span>
                    </li>
                    <li nz-menu-item routerLink='/index/root/new'>
                        <span nz-icon nzType="user-add"></span>
                        <span>新建用户</span>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header style="padding: 0;">
            <ul nz-menu nzTheme="light" nzMode="horizontal" style="background: #f5f5f5;">
                <div nz-row>
                    <div nz-col nzSpan="20" style="display: flex; align-items: center;">
                        <nz-breadcrumb [nzAutoGenerate]="true"></nz-breadcrumb>
                    </div>
                    <div nz-col nzSpan="2" class="people">
                        <nz-badge [nzCount]="planNum" [nzSize]="'small'" style="margin-right: 24px;">
                            <span nz-icon nzType="notification" nz-popover [nzPopoverPlacement]="'bottom'"
                                [nzPopoverContent]="contentTemplate"></span>
                        </nz-badge>
                    </div>
                    <ng-template #contentTemplate>
                        <div>
                            <nz-table [nzSize]="'small'" [nzNoResult]="' '">
                                <thead>
                                    <tr>
                                        <th style="background-color: #ffffff;">类型</th>
                                        <th style="background-color: #ffffff;">货物名称</th>
                                        <th style="background-color: #ffffff;">数量</th>
                                        <th style="background-color: #ffffff;">时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <tr *ngFor="let plan of plansDisplay">
                                        <td>{{ plan.plan.inOrOutbound | inOrOutboundPipe}}</td>
                                        <td>{{ plan.goodsName }}</td>
                                        <td>{{ plan.plan.planExpectedAmount}}</td>
                                        <td>{{ plan.plan.planExpectedTime | date:'MM月dd日 HH:mm':'UTC' }}</td>
                                    </tr>
                                </tbody>
                            </nz-table>
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <button nz-button nzType="primary" routerLink='/index/plan/all'>详细信息</button>
                            </div>
                        </div>
                    </ng-template>
                    <div nz-col nzSpan="2" class="people">
                        <a nz-dropdown [nzDropdownMenu]="menu">
                            <span nz-icon nzType="reddit"></span>
                            {{userName}}
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu nzSelectable>
                                <li nz-menu-item routerLink='index/{{userID}}/operationrecord'
                                    *ngIf="this.userRole === '仓库运维'">操作记录</li>
                                <li nz-menu-item routerLink='index/{{userID}}/changePassword'>密码修改</li>
                                <li nz-menu-item routerLink='index/{{userID}}/changeInformation'>信息修改</li>
                                <li nz-menu-item (click)="backup()" *ngIf="this.userRole === '管理员'">数据备份</li>
                                <li nz-menu-item nzDanger (click)="exit()">退出登录</li>
                            </ul>
                        </nz-dropdown-menu>
                    </div>
                </div>
            </ul>
        </nz-header>
        <nz-content style="background: #f9f9f9;">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>