<div class="container">
    <div class="login">

        <div class="logo">
            <img src="assets/wm1.png" />
        </div>

        <div class="title">仓库管理系统</div>

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="ID为7位数字">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="userID" id="userID" placeholder="ID" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="请输入密码!">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                        <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="userPassword"
                            id="userPassword" placeholder="密码" />
                    </nz-input-group>
                    <ng-template #suffixTemplate>
                        <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible"></span>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <button nz-button [nzType]="'primary'" [nzGhost]="'true'" nzBlock>登录</button>
        </form>

    </div>
</div>