<div class="container">
    <div class="modifyform">

        <div class="title">用户信息修改</div>

        <form nz-form (ngSubmit)="saveConfirm()" #userForm="ngForm" novalidate>
            <nz-form-item>
                <nz-form-label>姓名</nz-form-label>
                <nz-form-control nzErrorTip="姓名不能为空!">
                    <input nz-input [(ngModel)]="user.userName" name="userName" required />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>性别</nz-form-label>
                <nz-form-control style="text-align: left;">
                    <nz-select [(ngModel)]=" user.userGender" name="userGender">
                        <nz-option nzValue="男" nzLabel="男"></nz-option>
                        <nz-option nzValue="女" nzLabel="女"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>电话</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="user.userPhone" name="userPhone"
                        pattern="^(13[0-9]|14[01456879]|15[0-35-9]|16[2567]|17[0-8]|18[0-9]|19[0-35-9])\d{8}$" />
                    <div
                        *ngIf="userForm && userForm.controls['userPhone'] && userForm.controls['userPhone'].invalid && (userForm.controls['userPhone'].dirty || userForm.controls['userPhone'].touched)">
                        <div *ngIf="userForm.controls['userPhone'].errors?.['pattern']" style="color: red;">
                            请输入有效的电话号。</div>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>邮箱</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="user.userEmail" name="userEmail" email />
                    <div
                        *ngIf="userForm && userForm.controls['userEmail'] && userForm.controls['userEmail'].invalid && (userForm.controls['userEmail'].dirty || userForm.controls['userEmail'].touched)">
                        <div *ngIf="userForm.controls['userEmail'].errors?.['email']" style="color: red;">请输入有效的邮箱地址。
                        </div>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>职务</nz-form-label>
                <nz-form-control style="text-align: left;">
                    <nz-select [(ngModel)]="user.userRole" name="userRole">
                        <nz-option nzValue="管理员" nzLabel="管理员"></nz-option>
                        <nz-option nzValue="仓库运维" nzLabel="仓库运维"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button (click)="goBack()">返回</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button nz-button nzType="primary" [disabled]="userForm.invalid">提交</button>
                </nz-form-control>
            </nz-form-item>
        </form>

    </div>
</div>