<div class="container">
    <div class="login">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="saveConfirm()">
            <div class="title">密码修改</div>
            <nz-form-item>
                <nz-form-control nzErrorTip="请输入原密码!">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate1">
                        <input [type]="passwordVisible1 ? 'text' : 'password'" formControlName="OldPassword" nz-input
                            placeholder="原密码" />
                    </nz-input-group>
                    <ng-template #suffixTemplate1>
                        <span nz-icon [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible1 = !passwordVisible1"></span>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="请输入新密码!">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate2">
                        <input [type]="passwordVisible2 ? 'text' : 'password'" formControlName="changePassword" nz-input
                            placeholder="新密码" />
                    </nz-input-group>
                    <ng-template #suffixTemplate2>
                        <span nz-icon [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible2 = !passwordVisible2"></span>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="请再次输入新密码!">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate3">
                        <input [type]="passwordVisible3 ? 'text' : 'password'" formControlName="changePasswordConfirm"
                            nz-input placeholder="新密码确认" />
                    </nz-input-group>
                    <ng-template #suffixTemplate3>
                        <span nz-icon [nzType]="passwordVisible3 ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible3 = !passwordVisible3"></span>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <button nz-button [nzType]="'primary'" [nzGhost]="'true'" nzBlock>提交 </button>
        </form>
    </div>
</div>