<div class="container">
    <div class="login">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="saveConfirm()">
            <div class="title">密码修改</div>
            <nz-form-item>
                <nz-form-control nzErrorTip="请输入原密码!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" formControlName="OldPassword" nz-input placeholder="原密码" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="请输入新密码!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" formControlName="changePassword" nz-input placeholder="新密码" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="请再次输入新密码!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" formControlName="changePasswordConfirm" nz-input placeholder="新密码确认" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <button nz-button [nzType]="'primary'" [nzGhost]="'true'" nzBlock>提交 </button>
        </form>
    </div>
</div>