<!-- 如果在子页面，则不显示该div层内内容 -->
<div *ngIf="!isChildRouteActive()">
    <div class="container">

        <nz-table #filterTable [nzData]="usersDisplay" nzTableLayout="fixed" style="margin: 30px " [nzPageSize]="5"
            [nzScroll]="{ y: '400px' }">
            <thead>
                <tr>
                    <th style="background-color: #ffffff;">ID</th>
                    <th nzCustomFilter style="background-color: #ffffff;">
                        姓名
                        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
                            [nzDropdownMenu]="menu">
                            <i nz-icon nzType="search"></i>
                        </nz-filter-trigger>
                    </th>
                    <th style="background-color: #ffffff;">性别</th>
                    <th style="background-color: #ffffff;">电话</th>
                    <th style="background-color: #ffffff;">邮箱</th>
                    <th style="background-color: #ffffff;" [nzFilterMultiple]="true" [nzFilters]="[
        { text: '系统管理员', value: '系统管理员' },
        { text: '仓库管理员', value: '仓库管理员'},
        { text: '维护专员', value: '维护专员' },
      ]" [nzFilterFn]="filterRole">
                        职务</th>
                    <th style="background-color: #ffffff;" [nzFilters]="[
                    { text: '在职', value: '在职' },
                    { text: '离职', value: '离职'},
                  ]" [nzFilterFn]="filterStatus">状态</th>
                    <th style="background-color: #ffffff;">编辑</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of filterTable.data">
                    <td>{{ user.userID }}</td>
                    <td>{{ user.userName }}</td>
                    <td>{{ user.userGender }}</td>
                    <td>{{ user.userPhone }}</td>
                    <td>{{ user.userEmail }}</td>
                    <td>{{ user.userRole }}</td>
                    <td>{{ user.userStatus }}</td>
                    <td>
                        <a routerLink='/index/root/allUsers/modify' (click)="setModifyUserID(user.userID)"
                            [ngClass]="{'disabled-link': user.userStatus === '离职'}">修改</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="unemployConfirm(user.userID, user.userName)"
                            [ngClass]="{'disabled-link': user.userStatus === '离职'}">解雇</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="employConfirm(user.userID, user.userName)"
                            [ngClass]="{'disabled-link': user.userStatus === '在职'}">恢复</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
                <div class="search-box">
                    <input type="text" nz-input placeholder="搜索姓名" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()"
                        class="search-button">搜索</button>
                    <button nz-button nzSize="small" (click)="reset()">重置</button>
                </div>
            </div>
        </nz-dropdown-menu>

    </div>
</div>
<router-outlet></router-outlet>