.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; 
  background-color: #f9f9f9; 
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; 
}