<div class="container">
    <div class="modifyform">
        <div class="title">创建用户</div>
        <form nz-form (ngSubmit)="saveConfirm()" #userForm="ngForm" novalidate>
            <nz-form-item>
                <nz-form-label>ID</nz-form-label>
                <nz-form-control nzErrorTip="ID必须为7位数字!">
                    <input nz-input [(ngModel)]="user.userID" name="userID" pattern="^\d{7}$" required />
                    <div
                        *ngIf="userForm.controls['userID'].invalid && (userForm.controls['userID'].dirty || userForm.controls['userID'].touched)">
                        <div *ngIf="userForm.controls['userID'].errors?.['required']" style="color: red;">ID不能为空。</div>
                        <div *ngIf="userForm.controls['userID'].errors?.['pattern']" style="color: red;">ID必须为7位数字。
                        </div>
                    </div>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>姓名</nz-form-label>
                <nz-form-control nzErrorTip="姓名不能为空!">
                    <input nz-input [(ngModel)]="user.userName" name="userName" required />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>性别</nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="user.userGender" name="userGender">
                        <nz-option nzValue="男" nzLabel="男"></nz-option>
                        <nz-option nzValue="女" nzLabel="女"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>密码</nz-form-label>
                <nz-form-control nzErrorTip="请输入新密码!">
                    <nz-input-group>
                        <input type="password" [(ngModel)]="userPassword" formControlName="changePassword" nz-input
                            placeholder="新密码" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>确认密码</nz-form-label>
                <nz-form-control nzErrorTip="请再次输入新密码!">
                    <nz-input-group>
                        <input type="password" formControlName="changePasswordConfirm" nz-input placeholder="新密码确认" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>电话</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="user.userPhone" name="userPhone"
                        pattern="^(13[0-9]|14[01456879]|15[0-35-9]|16[2567]|17[0-8]|18[0-9]|19[0-35-9])\d{8}$" />
                    <div
                        *ngIf="userForm.controls['userPhone'].invalid && (userForm.controls['userPhone'].dirty || userForm.controls['userPhone'].touched)">
                        <div *ngIf="userForm.controls['userPhone'].errors?.['pattern']" style="color: red;">
                            电话号码必须以1开头，共11位。</div>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>邮箱</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="user.userEmail" name="userEmail" email />
                    <div
                        *ngIf="userForm.controls['userEmail'].invalid && (userForm.controls['userEmail'].dirty || userForm.controls['userEmail'].touched)">
                        <div *ngIf="userForm.controls['userEmail'].errors?.['email']" style="color: red;">
                            请输入有效的邮箱地址。
                        </div>
                    </div>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>职务</nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="user.userRole" name="userRole">
                        <nz-option nzValue="系统管理员" nzLabel="系统管理员"></nz-option>
                        <nz-option nzValue="仓库管理员" nzLabel="仓库管理员"></nz-option>
                        <nz-option nzValue="维护专员" nzLabel="维护专员"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary"
                        [disabled]="userForm.invalid">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button nz-button (click)="goBack()">返回</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>