<!-- 如果在子页面，则不显示该div层内内容 -->
<div *ngIf="!isChildRouteActive()">
    <div class="container">

        <nz-table #filterTable [nzData]="goodsDisplay" nzTableLayout="fixed" style="margin: 10px ">
            <thead>
                <tr>
                    <th style="background-color: #ffffff;">ID</th>
                    <th nzCustomFilter style="background-color: #ffffff;">
                        名称
                        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0"
                            [nzDropdownMenu]="menu">
                            <i nz-icon nzType="search"></i>
                        </nz-filter-trigger>
                    </th>
                    <th style="background-color: #ffffff;">规格</th>
                    <th style="background-color: #ffffff;">生产商</th>
                    <th style="background-color: #ffffff;">生产许可证</th>
                    <th style="background-color: #ffffff;" [nzSortOrder]="null" [nzSortFn]="sortFn"
                        [nzSortDirections]="sortDirections">库存量
                    </th>
                    <th style="background-color: #ffffff;">单位</th>
                    <th style="background-color: #ffffff;">储存条件</th>
                    <th style="background-color: #ffffff;">编辑</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let goods of filterTable.data">
                    <td>{{ goods.goodsID }}</td>
                    <td>{{ goods.goodsName }}</td>
                    <td>{{ goods.goodsSpecification }}</td>
                    <td>{{ goods.goodsManufacturer }}</td>
                    <td>{{ goods.goodsProductionLicense }}</td>
                    <td>{{ goods.goodsAmount }}</td>
                    <td>{{ goods.goodsUnit }}</td>
                    <td>{{ goods.goodsStorageCondition }}</td>
                    <td>
                        <a routerLink="/index/goods/all/modify" (click)="setModifyGoodsID(goods.goodsID)">修改</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
                <div class="search-box">
                    <input type="text" nz-input placeholder="搜索名称" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()"
                        class="search-button">搜索</button>
                    <button nz-button nzSize="small" (click)="reset()">重置</button>
                </div>
            </div>
        </nz-dropdown-menu>

    </div>
</div>
<router-outlet></router-outlet>